@CHARSET "ISO-8859-1";

nav {
margin: 27px auto 0;
position: relative;
width: 590px;
height: 50px;
background-color: #34495e;
border-radius: 8px;
font-size: 0;
}
nav a {
line-height: 50px;
height: 100%;
font-size: 15px;
display: inline-block;
position: relative;
z-index: 1;
text-decoration: none;
text-transform: uppercase;
text-align: center;
color: white;
cursor: pointer;
}
nav .animation {
position: absolute;
height: 100%;
top: 0;
z-index: 0;
transition: all .5s ease 0s;
border-radius: 10px;
}
a:nth-child(1) {
width: 130px;
}
a:nth-child(2) {
width: 130px;
}
a:nth-child(3) {
width: 160px;
}
a:nth-child(4) {
width: 160px;
}
nav .start-home, a:nth-child(1):hover~.animation {
width: 130px;
left: 0;
background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
width: 130px;
left: 130px;
background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
width: 160px;
left: 270px;
background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
width: 160px;
left: 430px;
background-color: #9b59b6;
}

	
h1 {
text-align: center;
margin: 40px 0 40px;
text-align: center;
font-size: 30px;
color: #ecf0f1;
text-shadow: 2px 2px 4px #000000;
font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}

table, td, th {
  			border: 2px solid white;
  			text-shadow: 2px 2px 4px #000000;
			font-family: 'Cherry Swash', cursive;
			color: #ecf0f1;
}
table {
	 	width: 100%;
		border-collapse: collapse;
	}

th {
  height: 70px;

}
td{
		text-align: center;
		height: 50px;
}
.tcolor{
		text-shadow: 2px 2px 4px #000000;
			font-family: 'Cherry Swash', cursive;
			color: #ecf0f1;
}
.bor{
			height:20px;
			width:50px;
			border:2px solid pink;
			text-shadow: 2px 2px 4px #000000;
			font-family: 'Cherry Swash', cursive;
			color: #ecf0f1;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

	body {
			background: linear-gradient(to bottom, #0f0c29, #24243e, #0f0c29);
	 		justify-content: center;
	   		align-items: center;
			padding:20px;
			margin:20px;
			font-family: 'Cherry Swash', cursive;
			color: pink;
			}
}
